.App {
  text-align: center;
   
}


.App-header {
  
  height: 830px;
  background: linear-gradient(to bottom right,#000000d6,#000000d6), url('./img/header-bg.jpg') center center no-repeat;
  background-size: cover;
  
  
}





